$color-i: #0ff;
$color-j: #00f;
$color-l: #ff7f00;
$color-o: #ff0;
$color-s: #0f0;
$color-t: #800080;
$color-z: #f00;
$color-grey: #7f7f7f;
$color-dark: #282828;
$color-table-border: #dfdfdf;
$color-cell-border: #404040;
