$color-i: #0ff;
$color-j: #00f;
$color-l: #ff7f00;
$color-o: #ff0;
$color-s: #0f0;
$color-t: #800080;
$color-z: #f00;
$color-grey: #7f7f7f;
$color-dark: #454545;
$color-table-border: #2b2b2b;
$color-cell-border: #272727;
$color-bg: #1f1f1f;
$color-btn: #6f6f6f;